.group-header
  .group-header-container
    = link_to edit_group_path(group.id), class: "group-header-container__link" do
      = group.group_name
      (
      = group.user_ids.length
      )
    = link_to groups_path, class: "group-header-container__link" do
      %i.fas.fa-users
        他のグループ