%header
  = render 'layouts/main-header'
= render partial: 'group-header', locals: { group: @group}
  
.group-container
  .messages
    = render partial: 'message', collection: @messages
= render partial: 'group-footer', locals: { group: @group }