%header
  = render 'layouts/main-header'
.group-container
  %h2.group-container__title
    新規グループ作成
  = render partial: 'group-form', locals: { group: @group }
%footer
  = render 'layouts/main-footer'