.account-page {
  padding-top: 15px;
  background-color: #fff;
  
  &__link {
    border-bottom: 1px solid;
    @extend .mb-sm;
    display: inline-block;
  }
  &__title {
    @extend .font-lr;
    @extend .mb-sm;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $mainLightGlay;
  }

  &__section {
    @extend .pb-sm;
  }

  &__label {
    @extend .font-md;
  }

  &__image {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $mainSkyblue;
    cursor: pointer;
  }

  &__input {
    @extend .input;
    width: 100%;
  }

  &__submit-btn {
    @extend .btn;
    background-color: $mainSkyblue;
    width: 100%;
  }

  &__destroy-btn {
    @extend .btn;
    color: $mainBlack;
    background-color: $mainLightGlay;
    width: 100%;
  }

  &__back {
    display: inline-block;
    @extend .mb-sm;
  }
}

@media (min-width: 600px) {
  .account-page {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $mainLightGlay;
    border-radius: 5px;
    text-align: center;
    padding: 10px;

    &__input {
      width: 80%;
    }
    
    &__submit-btn,
    &__destroy-btn {
      width: 80%;
    }
  }
}

@media (min-width: 960px) {
  .account-page {
    width: 70%;
  }
}