.account-page {
  padding-top: 15px;
  background-color: #fff;
  &__title {
    @extend .font-lr;
    @extend .pb-sm;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  &__section {
    @extend .pb-sm;
    label {
      @extend .font-md;
    }
    img {
      margin-top: 15px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $mainSkyblue;
      cursor: pointer;
    }
    input {
      @extend input;
      width: 100%;
    }
    textarea {
      @extend input;
      width: 100%;
    }
  }
  &__submit-btn {
    color: #fff;
    background-color: $mainSkyblue;
    cursor: pointer;
  }
  &__destroy-btn {
    background-color: $mainLightGlay;
    cursor: pointer;
  }
  a {
    display: inline-block;
    @extend .mb-sm;
  }
}

@media (min-width: 600px) {
  .account-page {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $mainLightGlay;
    border-radius: 5px;
    text-align: center;
    &__section {
      input {
        width: 80%;
      }
      textarea {
        width: 80%;
      }
    }
  }
}

@media (min-width: 960px) {
  .account-page {
    width: 70%;
  }
}