.group-container {
  @extend .content-width;
  padding: 122px 0 105px;
}

@media (min-width: 600px) {
  .group-container {
    padding: 130px 0 120px;
  }
}

@media (min-width: 960px) {
  .group-container {
    padding: 160px 0 120px;
  }
}