.follow-btn {
  position: absolute;
  top: 53%;
  right: 4%;

  &__following,
  &__follows {
    cursor: pointer;
    background-color: $mainSkyblue;
    color: #fff;
    border: none;
    @extend .font-sm;
    border-radius: 30px;
    padding: 5px 22px;
  }
}