.group-container {
  @extend .content-width;
  padding: 122px 0 105px;
  &__title {
    @extend .font-lr;
    @extend .pb-sm;
  }
}

@media (min-width: 600px) {
  .group-container {
    padding: 130px 0 120px;
    &__title {
      text-align: center;
    }
  }
}

@media (min-width: 960px) {
  .group-container {
    padding: 160px 0 120px;
  }
}