.make-fileGroup {
  @extend .pb-sm;
  span {
    @extend .font-md;
  }
  img {
    width: 130px;
    height: 130px;
    cursor: pointer;
  }
  &__img {
    width: 130px;
    height: 130px;
    border: 3px solid $mainGlay;
    border-radius: 5px;
    background-color: $mainLightGlay;
    i {
      color: $mainGlay;
      padding: 50px 10px;
    }
  }
}

@media (min-width: 600px) {
  .make-container {
    display: flex;
    flex-wrap: wrap;
  }
  .make-fileGroup {
    text-align: left;
    margin-left: 30px;
    width: 40%;
    &__img {
      
    }
    textarea.make-text {
      width: 100%;
      height: 120px;
    }
    i {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  .make-fileGroup {
    margin-left: 50px;
  }
}