.recipe-form {
  @extend .pb-md;
  padding-top: 15px;
  background-color: #fff;

  &__title {
    @extend .font-lg;
    @extend .mb-sm;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
    border-bottom: 2px solid $mainOrange;
    display: inline-block;
  }

  &__section {
    @extend .pb-md;
  }

  &__sectionTitle {
    @extend .font-md;
    @extend .pb-sm;
  }

  &__input {
    .recipeImg-preview {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    input {
      @extend .input;
      width: 100%;
    }

    input.food-text {
      width: 40%;
    }

    textarea {
      @extend .input;
      width: 100%;
    }

    select {
      width: 100%;
      padding: 3px 3px;
      border: 1px solid $mainGlay;
      background-color: $mainLightGlay;
    }
  }
  &__submitBtn {
    @extend .btn;
    background-color: $mainSkyblue;
  }
}

@media (min-width: 600px) {
  .recipe-form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $mainLightGlay;
    border-radius: 5px;
    text-align: center;
    &__section {
      
      img {
        width: 60%;
      }

      input {
        width: 80%;
      }

      textarea {
        width: 80%;
      }

      select {
        width: 80%;
      }
    }
  }
}

@media (min-width: 960px) {
  .recipe-form {
    width: 70%;
  }
}