.search-header {
  @extend .content-width;
  @extend .pb-sm;
  position: relative;
  input {
    @extend input;
    background-color: $mainLightGlay;
    width: 100%;
    height: 40px;
  }
  button {
    font-size: 24px;
    position: absolute;
    top: 3px;
    right: 0;
    background-color: transparent;
    border: none;
  }
  a {
    display: inline-block;
    padding-top: 3px;
    color: $mainSkyblue;
    border-bottom: 1px solid;
  }
}

@media (min-width: 600px) {

}

@media (min-width: 960px) {
  .search-header {
    display: none;
  }
}