.work-fileGroup {
  @extend .pb-sm;
  span {
    @extend .font-md;
  }
  img {
    width: 130px;
    height: 130px;
    cursor: pointer;
  }
  &__img {
    width: 130px;
    height: 130px;
    border: 3px solid $mainGlay;
    border-radius: 5px;
    background-color: $mainLightGlay;
    i {
      color: $mainGlay;
      padding: 50px 10px;
    }
  }
}

@media (min-width: 600px) {
  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .work-fileGroup {
    text-align: left;
    flex-basis: 40%;
    textarea.work-text {
      width: 100%;
      height: 120px;
    }
    i {
      display: block;
    }
  }
}