* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $mainBlack;
}

.font-sm {
  font-size: 17px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 28px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-md {
  padding-bottom: 28px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.flex {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: $subBlack;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.btn {
  @extend .font-sm;
  color: #fff;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.transform-btn {
  transition: opacity 0.2s, transform 0.2s;
  &:hover {
    opacity: 0.7;
    transform: scale(1.01);
    box-shadow: 10px 5px 20px -10px rgba(0, 0, 0, .5);
  }
}

input {
  border: 1px solid $mainGlay;
  border-radius: 5px;
  padding: 5px 5px;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1050px;
}

.logo {
  img {
    height: 75px;
    width: 150px;
    object-fit: cover;
  }
}

.section-title {
  @extend .font-lg;
}

// 600px以上のタブレット
@media (min-width: 600px) {
  body {
    background-color: $backColor;
  }
}

// 960px以上のpc
@media (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-md {
    margin-bottom: 80px !important;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-md {
    padding-bottom: 80px !important;
  }
  .pd-lg {
    padding-bottom: 150px !important;
  }

  .logo {
    img {
      height: 110px;
    }
  }
}

//320px以下に適用
@media (max-width: 320px) {
  .font-sm {
    font-size: 13px;
  }
  .font-md {
    font-size: 15px;
  }
  .font-lr {
    font-size: 20px;
  }
  .font-lg {
    font-size: 23px;
  }
}