.nav-header
  %ul.nav-header__menu
    %li.nav-header__item
      = link_to plays_path do
        %i.fas.fa-paper-plane
          遊ぶ・作る
    %li.nav-header__item
      = link_to recipes_path do
        %i.fas.fa-utensils
          クッキング
    %li.nav-header__item
      = link_to "#" do
        %i.fas.fa-user-circle
          話す
    